html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: rgb(230, 184, 218);
}

img {
  max-width: 100%;
  max-height: 90%;
}
a,
img {
  display: flex;
  height: 100%;
  width: 100%;
  height: 240px;
  object-fit: cover;
}
button {
  display: flex;
  padding: 10px 40px;
  min-width: 100px;
  max-height: 49px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;

  background-color: rgb(124, 123, 187);
  border: 3px solid rgb(13, 69, 224);
  border-radius: 5px;
  color: rgb(241, 241, 241);

  transition: background-color 0.2s ease-in;

  cursor: pointer;
}
.load-more {
  display: flex;
  padding: 10px 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;

  background-color: rgb(107, 219, 186);
  border: 3px solid rgb(30, 226, 79);
  border-radius: 5px;
  color: rgb(241, 241, 241);

  transition: background-color 0.2s ease-in;
}

.load-more:hover {
  cursor: pointer;
  background-color: rgb(56, 230, 12);
}
button:hover {
  cursor: pointer;
  background-color: rgb(12, 62, 228);
}
input {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  width: 300px;

  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 24px;
  margin-right: 5px;

  border: 3px solid rgb(185, 22, 144);
  border-radius: 5px;
}

.is-hidden {
  display: none;
}

.button.is-hidden {
  display: none;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.info-item {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 10px 20px;
}

.gallery {
  padding: 20px;
  display: grid;
  gap: 20px;
  margin-bottom: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.photo-card a {
  height: 300px;
  width: 400px;
}

.photo-card a img {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
